{% extends "base.html" %}
{% block content %}
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
<body>

<!--    {% with messages = get_flashed_messages(with_categories=True) %}

        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}    -->
<form action = "/updateCharacter" method="POST">
  <input type="text" name="charID" value={{thisCharacter.id}} hidden>
  <h4>XP Earned this Episode:</h4><input type="text" name="additionalXP" id="21"><br>
  <input type="submit" value="Update Character">
</form>

<div name = 'Character.name'>
  <h4><p name = 'name'>Name: {{thisCharacter.name}}</p>
  <p name = 'race'>Race: {{thisCharacter.race}}</p>
  <p name = 'charclass'>Class: {{thisCharacter.charclass}}</p>
  <p name = 'level'>Level: {{thisCharacter.level}}</p>
  <p name = 'background'>Background: {{thisCharacter.background}}</p>
  <p name = 'alignment'>Alignment: {{thisCharacter.alignment}}</p>
  <p name = "exp" value={{thisCharacter.exp}}>Experience Points: {{thisCharacter.exp}}</p>
  <p name = 'hp'>Max HP: {{hp}}</p>

  <p name = 'proficiency'>Proficiency Bonus: {{thisCharacter.proficiency}}</p>
  <p>Armor Class: {{ac}}</p>
  <p name = 'strength'>Strength: {{thisCharacter.strength}}</p>
  <p>Modifier: {{strmod}}</p>
  <p name = 'dexterity'>Dexterity: {{thisCharacter.dexterity}}</p>
  <p>Modifier: {{dexmod}}</p>
  <p name = 'constitution'>Constitution: {{thisCharacter.constitution}}</p>
  <p>Modifier: {{conmod}}</p>
  <p name = 'intelligence'>Intelligence: {{thisCharacter.intelligence}}</p>
  <p>Modifier: {{intmod}}</p>
  <p name = 'wisdom'>Wisdom: {{thisCharacter.wisdom}}</p>
  <p>Modifier: {{wismod}}</p>
  <p name = 'charisma'>Charisma: {{thisCharacter.charisma}}</p>
  <p>Modifier: {{chamod}}</p></h4>

  <h3>Saving Throws</h3>
  <p>Strength: {{strmod}}</p>
  <p>Dexterity: {{dexmod}}</p>
  <p>Constitution: {{conmod}}</p>
  <p>Intelligence: {{intmod}}</p>
  <p>Wisdom: {{wismod}}</p>
  <p>Charisma: {{chamod}}</p>

  <h3>Skills</h3>
  <p>Acrobatics: {{dexmod + acrpro}}</p>
  <p>Animal Handling: {{wismod + anipro}}</p>
  <p>Arcana: {{intmod + arcpro}}</p>
  <p>Athletics: {{strmod + athpro}}</p>
  <p>Deception: {{chamod + decpro}}</p>
  <p>History: {{intmod + hispro}}</p>
  <p>Insight: {{wismod + inspro}}</p>
  <p>Intimidation: {{chamod + intpro}}</p>
  <p>Investigation: {{intmod + invpro}}</p>
  <p>Medicine: {{wismod + medpro}}</p>
  <p>Nature: {{intmod + natpro}}</p>
  <p>Perception: {{wismod + perpro}}</p>
  <p>Performance: {{chamod + prfpro}}</p>
  <p>Persuasion: {{chamod + prspro}}</p>
  <p>Religion: {{intmod + relpro}}</p>
  <p>Slight of Hand: {{dexmod + slgpro}}</p>
  <p>Stealth: {{dexmod + stepro}}</p>
  <p>Survival: {{wismod + surpro}}</p>

  <p name = 'meleeAttackMod'>Melee Attack Modifier: XX</p>
  <p name = 'rangedAttackMod'>Ranged Attack Modifier: XX</p>
  <p name = 'spellAttackMod'>Spell Attack Modifier: XX</p>
  <p name = 'savedc'>Save DC: {{savedc}}</p>
  <p name = 'strmansavedc'>FIGHTER Maneuver Save DC (Strength): {{strmansavedc}}</p>
  <p name = 'dexmansavedc'>FIGHTER Maneuver Save DC (Dexterity): {{dexmansavedc}}</p>


    <p name = 'money'>Money: XX</p>
  <p name = 'inventory'>Inventory: XX</p>
</div>
</body>
</html>
{% endblock %}