{% extends "base.html" %}
{% block content %}
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
<body>

<!--    {% with messages = get_flashed_messages(with_categories=True) %}

        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}    -->

<form action = '/updateCharacter' name = 'Character.name'>
  <h4><p name = 'name'>Name: {{thisCharacter.name}}</p>
  <p name = 'race'>Race: {{thisCharacter.race}}</p>
  <p name = 'charclass'>Class: {{thisCharacter.charclass}}</p>
  <p name = 'level'>Level: {{thisCharacter.startlevel}}</p>
  <p name = 'background'>Background: {{thisCharacter.background}}</p>
  <p name = 'alignment'>Alignment: {{thisCharacter.alignment}}</p>
  <p name = 'exp'>Experience Points: {{thisCharacter.exp}}</p>
  <p name = 'proficiency'>Proficiency Bonus: {{thisCharacter.proficiency}}</p>
  <p name = 'strength'>Strength: {{thisCharacter.strength}}</p>
  <p name = 'dexterity'>Dexterity: {{thisCharacter.dexterity}}</p>
  <p name = 'constitution'>Constitution: {{thisCharacter.constitution}}</p>
  <p name = 'intelligence'>Intelligence: {{thisCharacter.intelligence}}</p>
  <p name = 'wisdom'>Wisdom: {{thisCharacter.wisdom}}</p>
  <p name = 'charisma'>Charisma: {{thisCharacter.charisma}}</p>

  <p name = 'meleeAttackMod'>Melee Attack Modifier: XX</p>
  <p name = 'rangedAttackMod'>Ranged Attack Modifier: XX</p>
  <p name = 'spellAttackMod'>Spell Attack Modifier: XX</p>
  <p name = 'savedc'>Save DC: XX</p>
  <p name = 'ac'>Armor Class: XX</p></h4>
  <input type="submit" value="End of Episode">
  </form>
  <div name = 'Ability Modifiers'>
    <p>strmod {{strmod}}</p>
    <p>dexmod {{dexmod}}</p>
    <p>conmod {{conmod}}</p>
    <p>intmod {{intmod}}</p>
    <p>wismod {{wismod}}</p>
    <p>chamod {{chamod}}</p>
    <p>ac {{ac}}</p>
  </div>
</body>
</html>
{% endblock %}